<html>
    {% include "head.html" %}
    <body>
        <div class="container">
            {% include "navbar.html" %}

            <div class="row">
                <div class="col-md-12">
                    <div class="timeline">
                        <dl>
                            <dt>May 2019</dt>
                            <dd class="pos-right clearfix">
                                <div class="circ"></div>
                                <div class="time">May 2019</div>
                                <div class="events">
                                    <div class="events-body">
                                        <h4 class="events-heading">Young Space</h4>
                                        <p>This is the place holder.</p>
                                    </div>
                                </div>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>

            {% include "footer.html" %}
        </div>
    </body>
</html>