{% extends 'index.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="timeline">
                {% for event in events %}
                <dl>
                    <dt>{{ event.point }}</dt>
                    <dd class="pos-right clearfix">
                        <div class="circ"></div>
                        <div class="time">{{ event.time }}</div>
                        <div class="events">
                            <div class="events-body">
                                <h4 class="events-heading">{{ event.title }}</h4>
                                <p>{{ event.context }}</p>
                            </div>
                        </div>
                    </dd>
                </dl>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}