{% extends 'index.html' %}

{% block content %}
<div>
    <h2 class="example-title">{{ detail.title }}</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="jumbotron">
                <div class="jumbotron-photo"><img src="/media/{{ detail.picture }}"></div>
                <div class="jumbotron-contents">
                    <h1>{{ detail.title }}</h1>
                    <h2>{{ detail.sub_title }}</h2>
                    <p>{{ detail.description }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}