{% extends 'index.html' %}

{% block content %}
<div>
	<h2 class="example-title">My Events</h2>
	<div class="row">
		{% for event in registered %}
		<div class="col-sm-6 col-md-3">
			<div class="thumbnail">
				<img class="img-rounded" src="{{ event.Picture }}.jpg">
				<div class="caption text-center">
					<h3>{{ event.Title }}</h3>
					<p>{{ event.Description }}</p>
					<p><a href="/detail/ID={{ event.ID }}" class="btn btn-success" role="button">Detail</a> <a href="/cancel/ID={{ event.ID }}" class="btn btn-danger" role="button">Cancel</a></p>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	<h2 class="example-title">All Events</h2>
	<div class="row">
		{% for event in all %}
		<div class="col-sm-6 col-md-3">
			<div class="thumbnail">
				<img class="img-rounded" src="{{ event.Picture }}.jpg">
				<div class="caption text-center">
					<h3>{{ event.Title }}</h3>
					<p>{{ event.Description }}</p>
					<p><a href="ID={{ event.ID }}" class="btn btn-warning" role="button">Register</a></p>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}