{% extends 'frame.html' %}

{% block content %}
<div>
	<h2 class="example-title">All Events</h2>
	<div class="row">
		{% for event in all %}
		<div class="col-sm-6 col-md-3">
			<div class="thumbnail">
				<img class="img-rounded" src="{{ event.picture }}">
				<div class="caption text-center">
					<h3>{{ event.title }}</h3>
					<p>{{ event.description }}</p>
					<p><a href="/event/register/?eid={{ event.eid }}" class="btn btn-warning" role="button">Register</a></p>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}