{% extends 'index.html' %}

{% block content %}
<div>
	<h2 class="example-title">My Events</h2>
	<div class="row">
		<div class="col-sm-6 col-md-3">
			<div class="thumbnail">
				<img class="img-rounded" src="http://bootflat.github.io/img/thumbnail-1.jpg">
				<div class="caption text-center">
					<h3>Event Title</h3>
					<p>Event Description ...</p>
					<p><a href="#" class="btn btn-success" role="button">Detail</a> <a href="#" class="btn btn-danger" role="button">Cancel</a></p>
				</div>
			</div>
		</div>
	</div>
	<h2 class="example-title">All Events</h2>
	<div class="row">
		<div class="col-sm-6 col-md-3">
			<div class="thumbnail">
				<img class="img-rounded" src="http://bootflat.github.io/img/thumbnail-1.jpg">
				<div class="caption text-center">
					<h3>Event Title</h3>
					<p>Event Description ...</p>
					<p><a href="#" class="btn btn-warning" role="button">Register</a></p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}