{% extends 'index.html' %}

{% block content %}
<div>
	<h2 class="example-title">My Events</h2>
	<div class="row">
		{% for event in registered %}
		<div class="col-sm-6 col-md-3">
			<div class="thumbnail">
				<img class="img-rounded" src="{{ event.picture }}">
				<div class="caption text-center">
					<h3>{{ event.title }}</h3>
					<p>{{ event.description }}</p>
					<p><a href="/event/detail/?eid={{ event.eid }}" class="btn btn-success" role="button">Detail</a> <a href="/event/cancel/?eid={{ event.eid }}" class="btn btn-danger" role="button">Cancel</a></p>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}