<head>
    <title>Young Space</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootflat/2.0.4/css/bootflat.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
    {% load static %}
    <script type="text/javascript" src={% static "js/site.min.js" %}></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/site.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootflat.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}"/>
</head>
