{% extends 'frame.html' %}

{% block content %}
<div>
	<h2>Events</h2>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">All Events</div>
				<table class="table">
				  <thead>
					<tr>
					  <th>#</th>
					  <th>Title</th>
					  <th>Description</th>
					  <th>Status</th>
					  <th>Operations</th>
					</tr>
				  </thead>
				  <tbody>
					{% for event in all_events %}
					<tr>
					  <td>{{ event.eid }}</td>
					  <td>{{ event.title }}</td>
					  <td>{{ event.short_description }}</td>
					  <td>{{ event.status }}</td>
					  <td></td>
					</tr>
					{% endfor %}
				  </tbody>
				</table>
			  </div>
		</div>
	</div>
	<h2>Users</h2>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">All Users</div>
				<table class="table">
				  <thead>
					<tr>
					  <th>#</th>
					  <th>Name</th>
					  <th>Email</th>
					  <th>Operations</th>
					</tr>
				  </thead>
				  <tbody>
					{% for user in all_users %}
					<tr>
					  <td>{{ user.uid }}</td>
					  <td>{{ user.name }}}</td>
					  <td>{{ user.email }}}</td>
					  <td></td>
					</tr>
					{% endfor %}
				  </tbody>
				</table>
			  </div>
		</div>
	</div>
</div>
{% endblock %}