{% extends 'frame.html' %}

{% block content %}
<div>
	<div class="col-md-12">
		<h2 class="title">User Profile</h2>
		<form method="post" name="profile">
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label">Name</label>
							<input type="text" class="form-control" name="name" value="{{ profile.name }}">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label">Email</label>
							<input type="text" class="form-control" name="email" disabled value="{{ profile.email }}">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label">Gender</label>
							<div class="selecter">
								<select class="selecter_3">
									<option value="N" selected>Change Your Gender</option>
									<option value="M">Male</option>
									<option value="F">Female</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<div class="form-group">
								<label class="control-label">Age</label>
								<input type="text" class="form-control" name="age" value="{{ profile.age }}">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label class="control-label">Career</label>
							<input type="text" class="form-control" name="career" value="{{ profile.career }}">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label class="control-label">Biography</label>
							<textarea class="form-control" name="biography" rows="3">{{ profile.biography }}</textarea>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label class="control-label">Picture</label>
							<div class="input-group form-search">
								<input class="form-control" id="file_upload" name="picture" type="file" />
								<span class="input-group-btn">
									<button type="submit" class="btn btn-primary" id="upload">Upload</button>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-6">
								<button type="button" class="btn btn-block" formaction="/">Cancel</button>
							</div>
							<div class="col-md-6">
								<button type="button" class="btn btn-primary btn-block" formaction="/user/update">Save</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<label class="control-label">Picture</label>
				<img src="{{ profile.Picture }}" class="img-rounded img-responsive">
			</div>
		</form>
	</div>
</div>
{% endblock %}